name: Qodana
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - develop

jobs:
  qodana:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2025.2
        with:
          linter: jetbrains/qodana-jvm-community:latest
          args: --baseline,qodana.sarif.json
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: qodana-report
          path: ${{ runner.temp }}/qodana/results/
          retention-days: 7
